  <div class="modal micromodal-slide" id=@Id aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="@Id-title">
        @ChildContent
      </div>
    </div>
  </div>

@code {

    [CascadingParameter(Name = "Id")]
    public string? Id { get; set; } // Unique identifier for the modal, used for accessibility and JavaScript interactions

    [Parameter] 
    public string? Title { get; set; } = "Modal Title"; // Default title for the modal

    [Parameter]
    public RenderFragment? ChildContent { get; set; } // Content to be displayed inside the modal
}
