@attribute [Stories("Components/Dialog")]

<Stories TComponent="DialogContent">

    @* <ArgType For="_ => _.(Property)" Control="ControlType.(Control Type)" /> *@

    <Story Name="Default">

        <Arguments>
            @* <Arg For="_ => _.Title" Value='"Modal Title"' /> *@
        </Arguments>

        <Template>
            <Button @onclick="() => _modalRef.OpenModal()" Text="Open Modal" />
            <Dialog @ref="_modalRef" OnOpen="HandleDialogOpen" OnClose="HandleDialogClose">
                <DialogTrigger>Internal Trigger</DialogTrigger>
                <DialogContainer @attributes ="context.Args">
                    <DialogHeader Title="Modal Title">
                        <DialogCloseButton />
                    </DialogHeader>
                    <DialogContent>
                    <p>
                        Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. Also, <code>esc</code> to close modal.
                    </p>
                    </DialogContent>
                    <DialogFooter>
                        <button class="modal__btn modal__btn-primary">Continue</button>
                        <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
                    </DialogFooter>
                </DialogContainer>
            </Dialog>

            @code {
                private Dialog _modalRef;

                private Task HandleDialogOpen(bool isOpen)
                {
                    Console.WriteLine($"Dialog opened. IsOpen: {isOpen}");
                    return Task.CompletedTask;
                }

                private Task HandleDialogClose(bool isOpen)
                {
                    Console.WriteLine($"Dialog closed. IsOpen: {isOpen}");
                    return Task.CompletedTask;
                }
            }

        </Template>

    </Story>
</Stories>