@inject IJSRuntime JSRuntime // Injecting JavaScript runtime for interop calls


<div @onclick="() => OpenModal()">
    @ChildContent
</div>

@code {

    [CascadingParameter(Name = "Id")]
    public string? Id { get; set; } // Unique identifier for the modal, used for accessibility and JavaScript interactions

    [Parameter]
    public RenderFragment? ChildContent { get; set; } // Content to be displayed inside the modal

    public void OpenModal()
    {
        @* IsOpen = true; *@
        JSRuntime.InvokeVoidAsync("MicroModal.show", Id, new { disableScroll = true, disableFocus = true });
        @* OnOpen.InvokeAsync(IsOpen); *@
    }

}
